@{
    ViewBag.Title = "Home Page";
}




    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div>
            <label>Enter City Name</label>
            <input type="text" placeholder="City Name, State" name="txtCity" id="txtCity" />&nbsp;
            <input type="button" name="btnSubmit" id="btnSubmit" value="Search" />
        </div>
        <div>
            <label id="lastResults">Hello Search Results</label>
        </div>
        <br />


        <hr />

        <div>
            <br />
            <h1><label id="lblCity">Hello</label></h1>
            <table id="tblWeather" style="border:1px">
                <tr></tr>
            </table>
        </div>
        <hr />
        <div>
            <h1><label id="lblPOI">Hello</label></h1>
            <table id="tblPOI" style="border:1px">
                <tr></tr>
            </table>
        </div>
    </div>
